<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcom in SHIVA CONCEPT SOLUTION</h1>
    <h3><strike>Discount: 20%</strike> </h3>
    <p><b>SHIVA CONCEPT SOLUTION</b> is the best software training institute of Indore India, We are providing quality training services from past 8 years, we have trained 10000+ students, we have conducted 500+ workshops and seminar in 100+ engineering colleges.</p>
    <p><mark>We provide free online tutorials</mark>, <i>job alert and video tutorials to our trainees. Shiva concept solution is training based company of Kangaroo Software PVT LTD. Mr. Shiva Gautam is a working professional with 10+ years of IT experience and has In-depth real-time exposure in 35+ technologies which helps students to provide corporate exposure</i>.</p>
    <hr>
    Hello <br>
   <font size="10+" color="red"> How r you</font>
   <br>
   <img src="/static/images/insta.jpg" height="300" width="300" />
<br>
h<sub>2</sub>o
<br>
SCS<sup>TM</sup>

</body>
</html>